<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <properties resource="db_config.properties"></properties>

    <!--给实体类起一个别名 user -->
    <typeAliases>
        <typeAlias type="com.lord.model.Category" alias="Category"/>
    </typeAliases>

    <mappers>
        <mapper resource="sqlmap/CategoryMapper.xml"/>
        <mapper resource="sqlmap/UserMapper.xml"/>
    </mappers>

</configuration>